/*********** Reset ***********/
* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
	font-size: 100%;
} 

*:focus{
	outline: none;
}

header, hgroup, aside, section, nav, footer, article, img{
	display: block;
}
/**************** Importando otros archivos ***********************/


/**************Body*************/

body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	/*
	background: url(../img/bg.jpg) left 5px repeat-x white;
	*/
    background: #e9edec url(../Images/server-fondo.png);
}
/*************** HEADING ************************/
h1{font-size: 33px;}

h2{font-size: 28px;}

h3{font-size: 23px;}

h4{font-size: 18px;}

h1, h2, h3, h4, h5, h6{
	color: #555;
}
/****************** CLASES ************************/

.text_center{
	text-align: center;
}

.limpiar{
	clear: both;
}

.ancho970{
    width: 970px;
    margin: 13px auto 0px;
}

.principal{
    background-color: #f0f0f0;
    padding: 12px 20px 8px;
    min-height: 420px;

    box-sizing: border-box;
}