/*********** Reset ***********/
* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
	font-size: 100%;
} 

*:focus{
	outline: none;
}

header, hgroup, aside, section, nav, footer, article, img{
	display: block;
}
/**************** Importando otros archivos ***********************/


/**************Body*************/

body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	/*
	background: url(../img/bg.jpg) left 5px repeat-x white;
	*/
    background: #e9edec url(../Images/server-fondo.png);
}
/*************** HEADING ************************/
h1{font-size: 33px;}

h2{font-size: 28px;}

h3{font-size: 23px;}

h4{font-size: 18px;}

h1, h2, h3, h4, h5, h6{
	color: #555;
}
/****************** CLASES ************************/

.text_center{
	text-align: center;
}

.limpiar{
	clear: both;
}

.ancho970{
    width: 970px;
    margin: 13px auto 0px;
}

.principal{
    background-color: #f0f0f0;
    padding: 12px 20px 8px;
    min-height: 420px;

    box-sizing: border-box;
}

/*****************************/
.hide{
    display: none;
}

/*
.miTabla{
    width: 80%;
    margin: 15px auto 7px;
    border: solid 1px black;
    font-size: 14px;

    box-sizing: border-box;
}
    .miTabla th{
        background-color: aquamarine;
        padding: 7px 7px;
        font-weight: 800;

        box-sizing: border-box;
    }
    .miTabla tr td{
        padding: 7px 7px;
        text-align: center;

        box-sizing: border-box;
    }
        .miTabla tr td:nth-child(4) a {
            color: greenyellow;
        }
            .miTabla tr td:nth-child(4) a:hover {
                color: blueviolet;
            }
        .miTabla tr td:nth-child(5) a {
            color: red;
        }
            .miTabla tr td:nth-child(5) a:hover {
                color: tomato;
            }
                
    .miTabla tr:nth-child(odd)
    {
        background-color: #0088fb;
    }
    .miTabla tr:nth-child(even)
    {
        background-color: #a0bbcb;
    }
*/
.ttlPrincipal{
    width: 100%;
    display: block;
    padding: 13px 25px;
    text-align: center;

    box-sizing: border-box;
}

.addNuevo{
    width: 80%;
    margin: 15px auto;

    overflow: hidden;
    box-sizing: border-box;
}
/*
    .addNuevo input{
        float: right;
        margin-right: 9px;

    }
        .addNuevo input[type="submit"]{
            background: #0852a3;
            padding: 5px;
            color: #fff;
            font-size: 12px;
            font-weight: 600;

            -webkit-border-radius: 5px;
	        -moz-border-radius: 5px;
	        -o-border-radius: 5px;
	        -ms-border-radius: 5px;
	        border-radius: 5px;
	
	        -webkit-transition: all 0.3s ease-in-out;
	        -moz-transition: all 0.3s ease-in-out;
	        -o-transition: all 0.3s ease-in-out;
	        -ms-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;


            box-sizing: border-box;
        }
            .addNuevo input[type="submit"]:hover {
                background: #4e95e1;
            }
*/

/*******Concepto Estatus******/
/*
    #cuerpoPpal_btnNuevo:hover{
        cursor: pointer;
    }
*/
/***************/

/*********BOTONES*******/
.btnNuevo {
    float: right;
    margin-right: 9px;

}
    .btnNuevo {
        background: #4D08A3;
        padding: 7px 15px;
        color: #fff;
        font-size: 12px;
        font-weight: 600;

        -webkit-border-radius: 5px;
	    -moz-border-radius: 5px;
	    -o-border-radius: 5px;
	    -ms-border-radius: 5px;
	    border-radius: 5px;
	
	    -webkit-transition: all 0.3s ease-in-out;
	    -moz-transition: all 0.3s ease-in-out;
	    -o-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	    transition: all 0.3s ease-in-out;


        box-sizing: border-box;
    }
        .btnNuevo:hover {
            background: #8528F9;
            cursor: pointer;
        }

.btnGuardar{
    background: #22D122;
    font-weight: 700;
    color: white;

    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;

}
    .btnGuardar:hover {
        background: rgba(34, 209, 34, 0.55);
        cursor: pointer;
    }
.btnCancelar{
    background: #F22A2A;
    font-weight: 700;
    color: white;

    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
    .btnCancelar:hover {
        background: rgba(242, 42, 42, 0.55);
        cursor: pointer;
    }

/******FIN BOTONES*****/
#conceptoIn{
    width: 80%;
    margin: 7px auto;

    box-sizing: border-box;
}

/*Tabla*/
.miTabla5, .miTabla6 , .miTabla7, .miTabla9{
    width: 80%;
    margin: 15px auto 7px;
    margin-right: auto !important;
    /*
    border: solid 1px black;
    */
    font-size: 14px;
    -webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	-o-border-radius: 5px !important;
	-ms-border-radius: 5px !important;
	border-radius: 5px !important;


    box-sizing: border-box;
}
    /***Encabezados de la Tabla***/
    .miTabla5 tbody tr th, .miTabla6 tbody tr th,.miTabla7 tbody tr th, .miTabla9 tbody tr th{
        background-color: #4D08A3;
        color: white;
        padding: 7px 7px;
        font-weight: 800;

        box-sizing: border-box;
    }
    /****Filas de la tabla***/
    .miTabla5 tr td, .miTabla6 tr td,.miTabla7 tr td, .miTabla9 tr td{
        padding: 7px 7px;
        text-align: center;

        box-sizing: border-box;
    }
    /***********************Botones*************************************/
        /***Seleccionar de la tabla**/
        .miTabla5 tr td:nth-child(4) a, .miTabla6 tr td:nth-child(5) a {
            color: #F43CAB;
            font-weight: 800;
        }
        .miTabla7 tr td:nth-child(6) a {
            color: #F43CAB;
            font-weight: 800;
        }
        .miTabla9 tr td:nth-child(8) a {
            color: #F43CAB;
            font-weight: 800;
        }
            /****Hover de Seleccionar***/
            .miTabla5 tr td:nth-child(4) a:hover, .miTabla6 tr td:nth-child(5) a:hover {
                color: blueviolet;
            }
            .miTabla7 tr td:nth-child(6) a:hover {
                color: blueviolet;
            }
            .miTabla9 tr td:nth-child(8) a:hover {
                color: blueviolet;
            }
        /****Eliminar de la Tabla****/
        .miTabla5 tr td:nth-child(5) a, .miTabla6 tr td:nth-child(6) a {
            color: red;
            font-weight: 800;
        }
        .miTabla7 tr td:nth-child(7) a {
            color: red;
            font-weight: 800;
        }
        .miTabla9 tr td:nth-child(9) a {
            color: red;
            font-weight: 800;
        }
            /****Hover de Eliminar***/
            .miTabla5 tr td:nth-child(5) a:hover, .miTabla6 tr td:nth-child(6) a:hover {
                color: tomato;
            }
            .miTabla7 tr td:nth-child(7) a:hover {
                color: tomato;
            }
            .miTabla9 tr td:nth-child(9) a:hover {
                color: tomato;
            }
     /****Renglones Impares de la Tabla*****/           
    .miTabla5 tr:nth-child(odd), .miTabla6 tr:nth-child(odd),.miTabla7 tr:nth-child(odd), .miTabla9 tr:nth-child(odd){
        background-color: #FFF;
    }
    /****Renglones Pares de la Tabla*****/           
    .miTabla5 tr:nth-child(even), .miTabla6 tr:nth-child(even),.miTabla7 tr:nth-child(even), .miTabla9 tr:nth-child(even){
        background-color: #DDD;
    }
/************FORMULARIOS***********/
.formCampos{
    width: 80%;
    margin: 15px auto;
    font-size: 14px;
    /*background: #57f276;*/

    overflow: hidden;
    box-sizing: border-box;
}
.grpInput{
    width: 100%;
    display: block;
    overflow: hidden;
}

    .formCampos label{
        text-align: right;
    }
    .formCampos input{
        border: solid 1px #555454;
    }

    .formCampos input, .formCampos label, .formCampos select {
        width: 35%;
        display: block;
        float: left;
        margin: 5px;
        padding: 7px;

        box-sizing: border-box;
    }
            .formCampos input[type="text"], .formCampos input[type="password"] {
            -webkit-border-radius: 5px;
	        -moz-border-radius: 5px;
	        -o-border-radius: 5px;
	        -ms-border-radius: 5px;
	        border-radius: 5px;

            -webkit-transition: all 0.4s ease-in-out;
	        -moz-transition: all 0.4s ease-in-out;
	        -o-transition: all 0.4s ease-in-out;
	        -ms-transition: all 0.4s ease-in-out;
	        transition: all 0.4s ease-in-out;

        }
            .formCampos input[type="text"]:focus, .formCampos input[type="password"]:focus {
                border: solid 1px #C30F76;
            }

.grpInputTitulo{
    width: 80%;
    margin: 23px auto;
    text-align: center;
    color: #4D08A3;
    font-weight: 700;
    font-size: 16px;
    border-bottom: 1px solid;
}
.grpGridCbx, .grpGridAcc{
    width: 80%;
    margin: 10px auto;
    padding: 13px;

    overflow: hidden;
    box-sizing: border-box;
}

.grpAccCbx{
    width: 45%;
    display: block;
    float: left;
    margin-top: 7px;
    color: #E5007E;
    font-weight: 700;
    border: 1px #555 dashed;
    padding: 7px;
    margin-right: 9px;

    overflow: hidden;
    box-sizing: border-box;
}

.grpInputCbx{
    width: 50%;
    display: block;
    float: left;
    margin-top: 7px;
    color: #E5007E;
    font-weight: 700;

    overflow: hidden;
    box-sizing: border-box;
}
    .grpInputCbx > label{
        width: 40% !important;
        float: left;
        text-align: left !important;
        padding-top: 0px !important;

        box-sizing: border-box;
    }
    .grpAccCbx > label{
        width: 40% !important;
        float: left;
        text-align: left !important;
        padding-top: 0px !important;

        box-sizing: border-box;
    }
    .grpInputCbx > input[type="checkbox"]{
        
        width: 10% !important;
        float: left;
        text-align: left !important;

        box-sizing: border-box;
    }
    .grpAccCbx > input[type="checkbox"]{
        
        width: 10% !important;
        float: left;
        text-align: left !important;

        box-sizing: border-box;
    }
    .grpInputCbx > span{
        width: 10% !important;
        float: left;
        text-align: left !important;
        padding-top: 0px !important;

        box-sizing: border-box;
    }
    .grpAccCbx > span{
        width: 10% !important;
        float: left;
        text-align: left !important;
        padding-top: 0px !important;

        box-sizing: border-box;
    }
        .grpGridAcc > .grpAccCbx:nth-child(3){
            margin-right: 20%;
        }
        .grpGridAcc > .grpAccCbx:nth-child(4), .grpGridAcc > .grpAccCbx:nth-child(5), .grpGridAcc > .grpAccCbx:nth-child(6) {
            width: 45%;
            
            /*border: 1px solid black;*/

            box-sizing: border-box;
        }

.tablaBox{
    width: 100%;
    color: #F560E3;
}
    .tablaBox td input {
        width: 10%;
    }
    .tablaBox td label{
        font-weight: 500;
        width: 80%;
        text-align: left !important;
    }

.formBotones{
    width: 80%;
    margin: 15px auto;
    font-size: 14px;
    /*background: #ed3f3f;*/

    overflow: hidden;
    box-sizing: border-box;
}
        .formBotones input[type="submit"] {
            border: solid 1px #555454;
            float: right;
            width: 26%;
            display: block;
            margin: 5px;
            padding: 7px;
            -webkit-border-radius: 5px;
	        -moz-border-radius: 5px;
	        -o-border-radius: 5px;
	        -ms-border-radius: 5px;
	        border-radius: 5px;

            -webkit-transition: all 0.4s ease-in-out;
	        -moz-transition: all 0.4s ease-in-out;
	        -o-transition: all 0.4s ease-in-out;
	        -ms-transition: all 0.4s ease-in-out;
	        transition: all 0.4s ease-in-out;

            box-sizing: border-box;
        }
            
/*Formulario nuevo*/
/*
#formConEstatus{
    width: 80%;
    margin: 15px auto;
    font-size: 14px;
    

    box-sizing: border-box;
}
    #formConEstatus input{
        margin: 5px;
        padding: 7px;



        box-sizing: border-box;
    }
        #formConEstatus input[type="text"] {
            -webkit-border-radius: 5px;
	        -moz-border-radius: 5px;
	        -o-border-radius: 5px;
	        -ms-border-radius: 5px;
	        border-radius: 5px;

            -webkit-transition: all 0.4s ease-in-out;
	        -moz-transition: all 0.4s ease-in-out;
	        -o-transition: all 0.4s ease-in-out;
	        -ms-transition: all 0.4s ease-in-out;
	        transition: all 0.4s ease-in-out;

        }
            #formConEstatus input[type="text"]:focus {
                border: solid 1px #C30F76;
            }
*/
#cuerpoPpal_lblIdConceptoEstatus{

    background: rgba(27, 174, 239, 0.62);
    border: 1px solid #0088fb;
    display: block;
    text-align: center;
    padding: 7px 0px;

    box-sizing: border-box;
}




