/****************** CLASES ************************/
.login_center{
	width: 354px;
	margin: 0 auto;
}

/****************** ID's ************************/
#login_cab{
	margin-top: 44px;
	margin-bottom: 24px;
	padding: 15px 0 15px 0;
	background-color: rgba(195, 15, 118, 0.55);
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
}


	#login_cab h1, #login_cab h3{
		text-shadow: 0px 0px 5px #FFF;
	}
	
#fondo_login{
	width: 100%;
	background: url(../Images/fondo-login.png) no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	min-height: 100%;
	
}

#login_form{
	background-color: #626262;
	margin-bottom: 55px;
	padding: 40px;

    -moz-box-shadow: -1px  0px 15px #FFF;
    -webkit-box-shadow: -1px  0px 15px #FFF;
    box-shadow: -1px  0px 15px #FFF;
	
	background: -webkit-linear-gradient(#515151, #6F6F6F);
	background: -moz-linear-gradient(#515151, #6F6F6F);
	background: -o-linear-gradient(#515151, #6F6F6F);
	background: -ms-linear-gradient(#515151, #6F6F6F);
	background: linear-gradient(#515151, #6F6F6F);
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	
	overflow: hidden;
	
	box-sizing: border-box;
}

	#login_form p{
		font-size: 22px;
		color: white;
		margin-bottom: 17px;
	}
#txtUsrName, #txtUsrPass{
	height: 44px;
	font-size: 16px;
}

#usrIcon, #passIcon{
	width: 20%;
	min-height: 44px;
	display: block;
	float: left;
	font-size: 44px;
	color: white;
}

#lblLogin{
    width: 80%;
    margin: 10px auto;
    float: right;
    display: block;
    padding: 7px 13px;
	font-size: 16px;
    text-align: center;
    font-weight: 600;
    color: red;
    text-shadow: 0px 0px 5px #fbfbfb;
    box-sizing: border-box;
}


#btnSubmit{
	width: 80%;
	min-height: 41px;
	padding: 8px;
	color: white;
	font-weight: bold;
	float: right;
	display: block;
	border: solid 1px #;
	background-color: #C30F76;
	

	background: -webkit-linear-gradient(center top , #E5007E, #F43CAB);
	background: -moz-linear-gradient(center top , #E5007E, #F43CAB);
	background: -o-linear-gradient(center top , #E5007E, #F43CAB);
	background: -ms-linear-gradient(center top , #E5007E, #F43CAB);
	background: linear-gradient(center top , #E5007E, #F43CAB);
	
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	
	
	overflow: hidden;
	box-sizing: border-box;
}
	#btnSubmit:hover{
		cursor: pointer;
		
		background: -webkit-linear-gradient(center top , #F43CAB, #E5007E);
		background: -moz-linear-gradient(center top , #F43CAB, #E5007E);
		background: -o-linear-gradient(center top , #F43CAB, #E5007E);
		background: -ms-linear-gradient(center top , #F43CAB, #E5007E);
		background: linear-gradient(center top , #F43CAB, #E5007E);
		
	}

    #lnkBtnSubmit{
        text-decoration: none;
        color: white;
    }

	#btnSubmit #submitText{
		width: 80%;
		text-align: right;
		font-size: 16px;
		padding-right: 16px;
		
		
		box-sizing: border-box;
	}
	
	#btnSubmit #submitIcon{
		width: 20%;
		font-size: 20px;
		
		box-sizing: border-box;
	}

	#btnSubmit #submitText, #btnSubmit #submitIcon{
		display: block;
		float: left;
	}
/****************************************************/

input[type="text"], input[type="password"]{
	width: 80%;
	display: block;
	margin-bottom: 10px;
	padding: 0px 8px;
	float: left;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	
	box-sizing: border-box;
}

	input[type="text"]:focus, input[type="password"]:focus{
		border: solid 1px #C30F76;
	}





