.encabezado{
    padding: 7px 13px 0px;
    min-height: 81px;
    width: 100%;
    
    background-color: #E8287E;
    
    background: -webkit-linear-gradient(center top , #F43CAB , #E5007E);
	background: -moz-linear-gradient(center top , #F43CAB , #E5007E);
	background: -o-linear-gradient(center top , #F43CAB , #E5007E);
	background: -ms-linear-gradient(center top , #F43CAB , #E5007E);
	background: linear-gradient(to top , #F43CAB , #E5007E);
    

    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px5px
    -moz-border-radius-topleft: ;;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;


    box-sizing: border-box;
}

.titulos {
    width: 30%;
    float: left;
    min-height: 33px;

    box-sizing: border-box;
}
    .titulos h1{
        font-size: 2em;
        font-weight: 700;
        padding: 0px 0px 0px 7px;
        color: #ffffff;
        text-shadow: 0px 0px 5px #000;

        box-sizing: border-box;
    }

.miMenu{
    width: 70%;
    margin-top: 15px;
    min-height: 45px;
    float: left;
    
    box-sizing: border-box;
}

#Menu1{
    float: right !important;
    padding-top: 7px;

    box-sizing: border-box;
}

a.level1, a.level2{
    /*
    padding-top: 5px;
    padding-bottom: 5px;
    */
    background-color: #E9E7E7;

    background: -webkit-linear-gradient(center top , #DCD9D9 , #F0F0F0);
	background: -moz-linear-gradient(center top , #DCD9D9 , #F0F0F0);
	background: -o-linear-gradient(center top , #DCD9D9 , #F0F0F0);
	background: -ms-linear-gradient(center top , #DCD9D9 , #F0F0F0);
	background: linear-gradient(to top , #DCD9D9 , #F0F0F0);

    /*border: 1px #4e667d solid;*/
    /*color: #dde4ec;*/
    font-weight: 600;
    color: #1d1d1d;
    font-size: 1.2em;
    /*Editado*/
    margin-right: 7px;

    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;

    -webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;

    /*-----*/
    display: block;
    line-height: 1.35em;
    padding: 7px 17px;
    text-decoration: none;
    white-space: nowrap;
}
    a.level1:hover, a.level2:hover {
        /*color: #465c71;*/
        color: #F43CAB;
        text-decoration: none;
    }
a.level2{
    border-top: solid 5px rgba(113, 113, 113, 0.86);
    
    box-sizing: border-box;
}

.usrSesion{
    font-size: 20px;
    width: 50%;
    display: block;
    padding: 7px 0px 0px 7px;
    overflow: hidden;

    box-sizing: border-box;
}
    .usrSesion #lblUsrName{
        text-transform: uppercase;
    }


    #miPerfil, #cerrarSesion{
        float: left;
        margin-right: 13px;
        color: white;
        -webkit-transition: all 0.4s ease-in-out;
	    -moz-transition: all 0.3s ease-in-out;
	    -o-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	    transition: all 0.3s ease-in-out;
    }

        #miPerfil:hover, #cerrarSesion:hover {
            color: #414141;
        }

