<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">

  <!-- an ISessionFactory instance -->
  <session-factory>

    <!-- properties -->
    <property name="dialect">NHibernate.Dialect.MsSql2012Dialect</property>
    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
    <!--<property name="connection.connection_string">Server=localhost\DEVELOP;Database=Control_Servidores_Des;User Id=sa; Password=root;</property>-->
    <!--<property name="connection.connection_string">Server=192.168.10.42;Database=Control_Servidores_Des;User Id=sa; Password=root;</property>-->
    <property name="connection.connection_string">Server=inventario.des;Database=Control_Servidores_Des;User Id=desarrollo; Password=12345;</property>
    <!--<property name="connection.connection_string">Server=localhost\SQLEXPRESS;Database=Control_Servidores_Des;User Id=sa; Password=root;</property>-->
    <!-- mapping files -->
    <mapping resource="ControlServidores.Entidades.MarcaServidor.hbm.xml" assembly="ControlServidores.Entidades" />
    <mapping resource="ControlServidores.Entidades.Almacenamiento.hbm.xml" assembly="ControlServidores.Entidades" />
    <mapping resource="ControlServidores.Entidades.BitacoraMantenimiento.hbm.xml" assembly="ControlServidores.Entidades" />
    <mapping resource="ControlServidores.Entidades.ConceptoEstatus.hbm.xml" assembly="ControlServidores.Entidades" />
    <mapping resource="ControlServidores.Entidades.ConfRed.hbm.xml" assembly="ControlServidores.Entidades" />
    <mapping resource="ControlServidores.Entidades.Empresa.hbm.xml" assembly="ControlServidores.Entidades" />
    <mapping resource="ControlServidores.Entidades.EspServidor.hbm.xml" assembly="ControlServidores.Entidades" />
    <mapping resource="ControlServidores.Entidades.Estatus.hbm.xml" assembly="ControlServidores.Entidades" />
    <mapping resource="ControlServidores.Entidades.Menu.hbm.xml" assembly="ControlServidores.Entidades" />
    <mapping resource="ControlServidores.Entidades.MenuXrol.hbm.xml" assembly="ControlServidores.Entidades" />
    <mapping resource="ControlServidores.Entidades.Modelo.hbm.xml" assembly="ControlServidores.Entidades" />
    <mapping resource="ControlServidores.Entidades.Personas.hbm.xml" assembly="ControlServidores.Entidades" />
    <mapping resource="ControlServidores.Entidades.PersonaXservidor.hbm.xml" assembly="ControlServidores.Entidades" />
    <mapping resource="ControlServidores.Entidades.Procesador.hbm.xml" assembly="ControlServidores.Entidades" />
    <mapping resource="ControlServidores.Entidades.RolUsuario.hbm.xml" assembly="ControlServidores.Entidades" />
    <mapping resource="ControlServidores.Entidades.Servidor.hbm.xml" assembly="ControlServidores.Entidades" />
    <mapping resource="ControlServidores.Entidades.SO.hbm.xml" assembly="ControlServidores.Entidades" />
    <mapping resource="ControlServidores.Entidades.Soporte.hbm.xml" assembly="ControlServidores.Entidades" />
    <mapping resource="ControlServidores.Entidades.SOxServidor.hbm.xml" assembly="ControlServidores.Entidades" />
    <mapping resource="ControlServidores.Entidades.Storage.hbm.xml" assembly="ControlServidores.Entidades" />
    <mapping resource="ControlServidores.Entidades.TipoArregloDisco.hbm.xml" assembly="ControlServidores.Entidades" />
    <mapping resource="ControlServidores.Entidades.TipoMemoria.hbm.xml" assembly="ControlServidores.Entidades" />
    <mapping resource="ControlServidores.Entidades.TipoServidor.hbm.xml" assembly="ControlServidores.Entidades" />
    <mapping resource="ControlServidores.Entidades.TipoStorage.hbm.xml" assembly="ControlServidores.Entidades" />
    <mapping resource="ControlServidores.Entidades.Usuarios.hbm.xml" assembly="ControlServidores.Entidades" />
  </session-factory>

</hibernate-configuration>
